* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    padding-top: 28px;

    &__container {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        margin: 0 auto;
        margin-left: 100px;
    }

    &__nav {
        margin-left: 100px;
        margin-right: 60px;
        gap: 40px;
    }

    .nav li {
        display: inline-block;
        padding: 30px;

        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 2%;
        text-align: left;
    }

    &__media {
        gap: 12px;
        margin-right: 10px;
    }

    &__contacts {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0%;
    }
}

.card {
    padding-top: 100px;
    padding-bottom: 100px;

    &__container {
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        gap: 200px;
    }

    &__left {
        margin-left: 200px;
    }

    &__titlerav {
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__button {
        margin-top: 30px;
        width: 320px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 32px 8px 32px;
        border-radius: 8px;

        background: rgb(250, 0, 44);

        a {
            color: rgb(255, 255, 255);
            font-family: SF Pro Display;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    &__title {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-weight: 800;
        line-height: 54px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__shini {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__pered,
    &__zad {
        p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__obem {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 152px;
    }

    &__obem1,
    &__obem2 {
        p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__rashod {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 140px;
    }

    &__rashod1,
    &__rashod2 {
        p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__trans {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 20px;
    }

    &__trans1,
    &__trans2 {
        p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__mest {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 20px;
    }

    &__mest1,
    &__mest2 {
        p {
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(244, 246, 248);

    &__container {
        max-width: 1920px;
        margin: 0 auto;
    }

    &__title {
        margin-left: 200px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 44px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__osn {
        margin-left: 200px;
        display: flex;
        margin-top: 56px;
        flex-wrap: wrap;
    }

    &__address1 {
        width: 273px;
        p {
            padding-bottom: 20px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            width: 273px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__time {
        margin-left: 154px;
        width: 273px;
        p {
            padding-bottom: 20px;
            color: rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }

        span {
            width: 273px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__number {
        width: 273px;
        margin-left: 161px;
    }

    &__numberr {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__number1 {
        margin-top: 20px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__number2 {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__media {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-left: 200px;
        align-items: center;
        gap: 154px;
    }

    &__emaill {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__email1 {
        margin-top: 20px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__sociall {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__socialicons {
        margin-top: 20px;
        gap: 8px;
    }

    &__map{
        margin-top: 40px;
        margin-left: 200px;
    }
}
